<html>
  <head>
      <title>collateralizedOTC</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="JSfile/scatterCharts.js"></script>
  </head>
  <body>
    <br><br><br>


  <div class="container">
    <h2>Collateralized OTC Reports</h2>
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Collateralized OTC Report1</button>
    <div id="demo" class="collapse">
        <br>
        <div id="chart_div"></div>
          <br>
        <div id="table_div" style="margin-left:5%; margin-right:5%;"></div>    
    </div>
    <br>
    <br>
    <br>
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo1">Collateralized OTC Report2</button>
    <div id="demo1" class="collapse">
        <br>
        <div id="polynomial2_div"></div>
          <br>
    </div>
  </div>


    <br> <br><br><br><br><br><br><br><br><br><br>

    <div id="footer">
        <h4> UBS AG Risk Analytics Group</h4>
        <p>  Ususally Legal infromation related to data security and sharing on website </p>
        <p>  Ususally Legal infromation related to copyright and/or contact related infromation </p>
    </div>
  </body>
</html>