<!-- home.html -->
    <br> <br> <br>
    <div id="header">
        <h2> UBS AG Logo -- Risk Analytics Group </h2>
        <p> infroamtion related to Risk Analytics/backtesting team </p>
    </div>
    <div class="jumbotron text-center" style="margin-left:5%; margin-right:5%;">
        <h3>Risk Analytics BackTesting Reports </h3>
        <p>Welcome to Resik Analytics backtesting reports dashboards. On this web application you will find multiple dashboards
            produced and maintained by Risk Analytics & Backtesting team.</p>
        <br>
        <p>Here all the infroamtion regarding system maintanace or general notifications will be provided.</p>
        <br>
        <p>Any addtional information regarding System Updates such as repprting dates and everything should go here.</p>
    </div>
        <br> <br><br><br><br>

    <div id="footer">
        <h4> UBS AG Risk Analytics Group</h4>
        <p>  Ususally Legal infromation related to data security and sharing on website </p>
        <p>  Ususally Legal infromation related to copyright and/or contact related infromation </p>
    </div>