<!-- home.html -->
    <div class="jumbotron text-center" style>
        <h3>Risk Analytics BackTesting Reports </h3>
        <p>Welcome to Resik Analytics backtesting reports dashboards. On this web application you will find multiple dashboards
            produced and maintained by Risk Analytics & Backtesting team.</p>
        <br>
        <p>Here all the infroamtion regarding system maintanace or general notifications will be provided.</p>
        <br>
        <p>Any addtional information regarding System Updates such as repprting dates and everything should go here.</p>
    </div>